/* My CSS code. */

.completed
{
    text-decoration: line-through;
    color: #888;
}

.check:hover
{
    color: #008000;
}

.trashcan, .check
{
    cursor: pointer;
    padding-left: 5px;
}

li
{
    font-size: 20px;
}