/* My CSS code. */

.completed
{
    text-decoration: line-through;
    color: #888;
}

.fa-trash-o:hover
{
    color: #ff0000;
}

#check
{
    padding-left: 5px;
}

#check:hover
{
    color: #008000;
    cursor: pointer;
}

i
{
    cursor: pointer;
    padding-left: 5px;
}

li
{
    font-size: 20px;
}